{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>
  <header role="banner" id="main-header">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>

  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>

  {% if page.url != "/contact/index.html" %}
    <div class="container_12">
      <div class="grid_12">
        <img src="/images/wheel_divider.png" />
      </div>

      <div class="grid_10 prefix_1 suffix_1" id="get-started">
        <div class="banner">WANT TO GET STARTED?</div>
        <p>
          If you already have an idea, then what are you waiting for?<br />
        </p>
        <div class="action">
          <a href="/contact">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}

  <footer id="footer">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>