{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>
  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>

  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>

    <div class="container_12">
      <div class="grid_12">
        <img src="/images/wheel_divider.png" />
      </div>

      <div class="grid_10 prefix_1 suffix_1" id="get-started">
        <div class="banner">WANT TO GET STARTED?</div>
        <p>
          If you already have an idea, then what are you waiting for?<br />
          Get started right away with our project planner.
        </p>
        <div class="action">
          <a href="/">Project Planner</a>
        </div>
      </div>
    </div>
  </div>

  <div id="sub-footer">
    <div class="container_16">
      <div class="grid_16" style="margin-top:-17px; margin-bottom: 13px;">
        <img src="/images/wheel_divider.png" />
      </div>
      <div class="grid_4 prefix_1">
        <h3>&mdash; Contact &mdash;</h3>
        <ul class="contact">
          <li><span>Call</span>555-1212</li>
          <li><span>Email</span>hi@eruva.com</li>
          <li><span>Twitter</span>@eruva</li>
        </ul>
      </div>
      <div class="grid_4 prefix_1 alpha suffix_1">
        <h3>&mdash; Get More Info &mdash;</h3>
        <p>
          Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
      </div>
      <div class="grid_4">
        <h3>&mdash; Other Stuff &mdash;</h3>
        <p>
          Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
      </div>
    </div>
  </div><!-- END sub-footer -->

  <footer id="footer">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>