{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>
  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>

  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>

    <div class="container_12">
      <div class="grid_12">
        <img src="/images/wheel_divider.png" />
      </div>
      <div class="grid_4 prefix_4 suffix_4" id="get-started">
        WANT TO GET STARTED?
      </div>
    </div>
  </div>

  <footer>{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>