<hgroup>
  <div class="container_12">
    <div class="grid_2 prefix_5 suffix_2">
      <a href="/"><img src="/images/logo.png" /></a>
    </div>
    <div class="grid_3" id="contact-banner">
      <p><a href="/contact">Get Started</a></p>
    </div>

    <div class="grid_10 prefix_1 suffix_1">
      <ul class="main-navigation">
        <li><a href="{{ root_url }}/services">Services</a></li>
        <li><a href="{{ root_url }}/about">About</a></li>
        <li><a href="{{ root_url }}/blog">Blog</a></li>
        <li><a href="{{ root_url }}/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</hgroup>