#sub-footer
  background-image: url("/images/main_line_pattern.png")
  font-size: 14px
  padding-bottom: 20px

  h3
    font-size: 18px
    margin-bottom: 10px

  ul.contact
    li
      margin-top: 6px

      span
        color: $salmon
        padding-right: 10px