#masthead-home
  background-image: url("/images/sky_color_home.png")

  .grid_12
    height: 281px

  .cloud_1
    position: absolute
    z-index: 1
    top: 262px
    left: -61px

  .cloud_2
    position: absolute
    z-index: 1
    top: 303px
    right: 16px

  h1
    font-size: 36px
    text-transform: uppercase
    font-family: "Hammersmith One", serif
    margin-top: 50px
    margin-bottom: 10px

  p
    color: #000
    font-size: 14px
    line-height: 24px
    margin-bottom: 24px

  img
    float: right

  .waves
    background: url("/images/waves_top.png") repeat-x

.sub_header
  background: url("/images/sub_header.png") no-repeat

  h3
    margin-left: 67px
    padding-top: 23px
    text-transform: uppercase
    margin-bottom: 40px

#home
  margin: 50px 0

  .recent-project
    background: url("/images/recent_project_pic_holder.png") no-repeat
    width: 280px
    height: 151px
    text-align: center
    padding-top: 52px

    h2
      font-size: 28px
      margin-bottom: 6px

.customer-quote
  clear: both
  margin-bottom: 45px

  img
    float: left
    padding-right: 22px

  blockquote
    padding-top: 5px
    font-style: italic