body
  background-image: url("/images/main_bg_texture.png")
  color: white
  font-family: 'Orienta', Arial, serif

a
  color: $link_color
  text-decoration: none

a:hover
  color: lighten($link_color, 20%)
  text-decoration: underline


#get-started
  text-align: center
  margin-top: 35px

  p
    margin-bottom: 20px
    line-height: 24px

  .banner
    background: url("/images/title_banner.png") no-repeat
    width: 592px
    margin: 0 auto
    height: 90px
    font-size: 28px
    padding-top: 95px

  .action
    background: url("/images/call_to_action_button.png") no-repeat
    margin: 0 auto
    width: 208px
    height: 100px
    padding-top: 25px
    font-size: 18px
    text-transform: uppercase

    a
      color: white

#contact-banner
  background: url("/images/red_banner.png") no-repeat 0px -48px
  margin-top: -25px
  height: 81px

  p
    padding-top: 22px
    padding-left: 35px
    text-transform: uppercase
    font-size: 18px
    letter-spacing: 2px
    font-family: "Hammersmith One", serif

  a
    color: white