<!DOCTYPE html>
<html>
<head>
    <title>Eruva - {{ page.title }}</title>
    <link href="http://fonts.googleapis.com/css?family=Orienta|Hammersmith+One" rel="stylesheet" type="text/css">
    <link href="/stylesheets/application.css" media="all" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header id="main-header" role="banner">
      <hgroup>
        <div class="container_12">
          <div class="grid_2 prefix_5 suffix_2">
            <a href="/"><img alt="Logo" src="/images/logo.png">
            </a>
          </div>
          <div class="grid_3" id="contact-banner">
            <p><a href="/contact">Get Started</a></p>
          </div>
          <div class="grid_10 prefix_1 suffix_1">
            <ul class="main-navigation">
              <li><a href="/">Home</a></li>
              <li><a href="/services.html">Services</a></li>
              <li><a href="/about.html">About</a></li>
              <!-- <li><a href="/blog.html">Blog</a></li> -->
              <li><a href="/contact.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </hgroup>
    </header>
    <div id="main">
      <div id="content">
          {{ content }}
      </div>
      <div class="container_12">
        <div class="grid_12">
          <img alt="Wheel_divider" src="/images/wheel_divider.png">
        </div>
        <div class="grid_10 prefix_1 suffix_1" id="get-started">
          <div class="banner">WANT TO GET STARTED?</div>
          <p>
            If you already have an idea, then what are you waiting for?
            <br>
          </p>
          <div class="action">
            <a href="/contact.html">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="waves">&nbsp;</div>
      <div class="bottom-nav">
        <div class="container_12">
          <div class="grid_2">
            <img alt="Footer_logo" src="/images/footer_logo.png">
          </div>
          <div class="grid_9 prefix_1">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/services.html">Services</a></li>
              <li><a href="/about.html">About</a></li>
              <!-- <li><a href="/blog.html">Blog</a></li> -->
              <li><a href="/contact.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>